<!--/* Side card */-->
<div class="card w-100 border-0" style="width: 18rem;" id="sidebar">
	<div class="card-body border-right">
		<!--/* Most Recent card */-->
		<h4 class="card-title">Most recent articles</h4>
		<ul class="list-unstyled ml-3">
			<li><a href="#"> Category Name </a></li>
		</ul>
		<!--/* Blog card */-->
		<h5 class="card-title">Categories</h5>

		<ul class="list-unstyled">
			<th:block th:each="cat:${categoryLinks}">
				<li><a th:href="@{${'/categories/' + cat.key}}"
					th:text="${cat.key}"> Category Name </a> <span
					class="badge badge-pill badge-secondary" th:text="${cat.value}">(sum)</span>
				</li>
			</th:block>
		</ul>

		<!--/* Tag card */-->
		<h5 class="card-title">Tags</h5>
		<div class="d-flex flex-wrap justify-content-start">
			<div>
				<th:block th:each="link:${tagLinks}">
					<a class="badge badge-secondary"
						th:href="@{${'/blog/tags/' + link}}" th:text="${link}"></a>
				</th:block>
			</div>
		</div>
		<!--/* Tag card end */-->
	</div>
</div>
