<!--/* Side card */-->
<div class="card w-100 border-0" style="width: 18rem;" id="sidebar">
	<div class="card-body border-right">
		<!--/* Most Recent card */-->
		<h4 class="card-title">Most recent articles</h4>
		<ul class="list-unstyled ml-3">
			<li><a href="#" class="font-italic"> Category Name </a></li>
		</ul>
		<!--/* Blog card */-->
		<h5 class="card-title">Categories</h5>

		<ul class="list-unstyled">
			<li>
				<p>
					Category Name <span class="badge badge-pill badge-secondary">(sum)</span>
				</p>
			</li>
		</ul>

		<!--/* Tag card */-->
		<h5 class="card-title">Tags</h5>
		<div class="d-flex flex-wrap justify-content-start">
			<div>
				<span class="badge badge-pill badge-info">Tag</span> 
			</div>
		</div>
		<!--/* Tag card end */-->
	</div>
</div>
