<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
</head>
<body>
	<div th:insert="fragments/navbar" id="navbar-wrap"></div>

	<div class="container mt-10">
		<th:block th:each="article:${articles}">
			<h3 th:text="${article.title}"></h3>
			<h4 class="text-right" th:text="${article.datePosted}"></h4>
			<div th:text="${article.excerpt()}"></div>
			<span th:text="${article.theAuthor.displayName}"></span>
			<span th:text="${article.theCategory.categoryName}"></span>
			<th:block th:each="tag:${article.articleTags}">
				<span th:text="${tag.tagName}"></span>
			</th:block>
			<br>
			<a th:href="@{${'/admin/editArticle/' + article.ID}}"
				class="btn btn-primary">Edit Article</a>
			<a th:href="@{${'/admin/deleteArticle/' + article.ID}}"
				class="btn btn-danger">Delete Article</a>
			<hr>
		</th:block>
		<a type="button" id="addButton"
			th:href="@{/admin/editArticle/newArticle}">
			<div id="add" class="unselectable">
				<span>&#43;</span>
			</div>
		</a>
	</div>
</body>
</html>