<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
</head>
<body>
	<div th:insert="fragments/navbar" id="navbar-wrap"></div>

		<div class="container mt-10">
			<th:block th:each="article:${articles}">
			
			<div th:text="${article.content}"></div>
			<span th:text="${article.theAuthor.displayName}"></span>
			<span th:text="${article.theCategory.categoryName}"></span>
			<th:block th:each="tag:${article.articleTags}">
			<span th:text="${tag.tagName}"></span>
			</th:block>
			<hr>
			</th:block>

		</div>
</body>
</html>