<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
</head>
<body>
	<div th:insert="fragments/navbar" id="navbar-wrap"></div>

	<div class="container mt-10">
		<th:block th:each="page:${pages}">
			<div class="card">
				<img class="card-img-top" th:if="${page.headerImage != ''}"
					th:src="@{${page.headerImage}}" alt="Card image cap"
					style="width: 100%; height: 200px; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title" th:text="${page.pageTitle}">Page title</h5>
					<p class="card-text" th:text="${page.excerpt()}">Page content</p>
					<a th:href="@{${'/admin/editPage/' +page.ID}}"
						class="btn btn-primary">Edit page</a> <span class="float-right">
						<a
						th:href="@{${'/admin/editPage/priority/'+page.ID+'?priority=up'}}">
							up </a> / <a
						th:href="@{${'/admin/editPage/priority/'+page.ID+'?priority=down'}}">
							down </a> / <a
						th:href="@{${'/admin/editPage/priority/'+page.ID+'?priority=bottom'}}">
							bottom </a> / <a
						th:href="@{${'/admin/editPage/priority/'+page.ID+'?priority=top'}}">
							top </a>
					</span>
				</div>
			</div>
		</th:block>
		<a type="button" id="addButton" th:href="@{/admin/editPage/newPage}">
			<div id="add" class="unselectable">
				<span>&#43;</span>
			</div>
		</a>
	</div>
</body>
</html>