<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
<title th:if="${page != null}" th:text="${page.pageTitle}"></title>
<title th:if="${page == null}">Page Not Found</title>
</head>
<body>
	<div th:insert="fragments/navbar" id="navbar-wrap"></div>
	<th:block th:insert="fragments/pictureframe">
	</th:block>
	<div class="container" id="content-wrap">
		<h1 th:unless="${page == null}" th:utext="${page.pageTitle}"></h1>
		<div class="pageContent" th:unless="${page == null}" th:utext="${page.content}"></div>
	</div>


	<div th:insert="fragments/footer" id="footer-wrap"></div>


</body>
</html>



