<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
<title th:if="${page != null}" th:text="${page.pageTitle}"></title>
<title th:if="${page == null}">Page Not Found</title>
</head>
<body>
<h1>This is homepage</h1>

Logged user: <span sec:authentication="name"></span>

<br>

<span th:unless="${page == null}" th:text="${page.content}"></span>


<a th:href="@{/login}">Login</a>
<br>
<a th:href="@{/admin/home}">admin home</a>
<br>
<a th:href="@{/}">home</a>
<br>
<a th:href="@{/logout}">logout</a>
<br>


</body>
</html>