

<th:block th:each="page, iterStat : ${pages}">
	<th:block th:if="${page.DisplayOnMainPage == true && page.SystemPage == false}">
		<th:block th:if="${iterStat.index != 0}">


			<div class="mainPagePicture"
				th:style="'background-image:url(' + @{${page.headerImage}} + ');'">
			</div>

		</th:block>
		<div class="container">
		<div class="container">
			<div class="row position-relative">
				<div class="col-xs-12">
					<h1 th:text="${page.pageTitle}">Title</h1>
					<div class="pageContent" th:utext="${page.content}">Content</div>
				</div>
			</div>
		</div>
		</div>

	</th:block>
</th:block>