<th:block th:insert="fragments/dividers/footer">
</th:block>	
<div class="jumbotron jumbotron-fluid d-flex justify-content-center m-0 pb-5 pl-5 pr-5">
<img src="/res/img/gitico.svg" class="ico-filter">
<img src="/res/img/linkedinico.svg" class="ico-filter">
<img src="/res/img/twitterico.svg" class="ico-filter">
</div>
<footer class="text-center copyright-footer" id="footer">

	&copy;
	<th:block th:utext="${#dates.format(#dates.createNow(), 'yyyy')}"></th:block>
	<th:block th:utext="#{copyright}"></th:block>
</footer>