<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/header :: head">
</th:block>
<title>YKTech.co.uk</title>
</head>
<body>

	<th:block th:insert="fragments/navbar"></th:block>
	<th:block th:insert="fragments/pictureframe">
	</th:block>
	<div id="content-wrap">
		<div class="jumbotron" style="background: white">
			<div class="row">
				<div class="col-lg-3">

					<th:block th:insert="fragments/blog/blog-sidebar" ></th:block>
				</div>
				<div class="col-lg-8">
					<div class="container"></div>
					<th:block th:each="article:${articles}">
					<div th:insert="fragments/blog/blog-content" class="container"></div>
					</th:block>

				</div>
			</div>
		</div>
	</div>
	<div th:insert="fragments/footer" id="footer-wrap"></div>


</body>
</html>