body {
	background: white;
	color: black;
	overflow: auto;
}

div {
	font-family: 'Quicksand', sans-serif;
	  text-align: justify;
  text-justify: inter-word;
}

#menu {
	display: table;
	marign: 0 auto;
	position: fixed;
	z-index: 3005;
	height: 60px;
	width: 60px;
	top: 5vh;
	right: 5vh;
	background-color: #C0C0C0;
	text-align: center;	
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .65);
	text-decoration: none;
	color: black;
}

#menu :hover {
	background-color: #f9f9f9;
	border-radius: 50%;
}

#menu>span {
	font-size: 1.5em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
/* Menu Animation */
#menuButton {
	position: fixed;
	z-index: 3005;
}

#mainMenu {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: #000000;
	z-index: 3000;
	display: none;
	background: rgba(0, 0, 0, 0.85);
	overflow-y: scroll;
	overflow-x: hidden;
}

#menuLogo {
	max-width: 100%;
}

#mainMenuContent {
	margin-top: 15vh;
}

.menuLink {
	display: none;
	padding-bottom: 1vh;
	padding-left: 5vw;
	margin-right: 5vw;
}

.menuLink>a {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.menuLink>a:hover {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.menuhr {
	text-align: left;
	background-color: white;
	height: 2px;
}

/* End of menu animation */
.mt-10 {
	margin-top: 10vh;
}

#frame {
	height: 100vh;
}

#pictureframe {
	height: 40vh;
}

#bgVideo {
	position: absolute;
	z-index: 1;
	top: 0;
	width: inherit;
	width: 100%;
	height: 100vh;
	/*  object-fit is not supported on IE  */
	object-fit: cover;
	opacity: 0.65;
}

#videoOverlay h1 {
	color: white;
}

#videoOverlay p {
	color: white;
}

#videoOverlay {
	position: absolute;
	left: 15%;
	top: 65%;
	z-index: 2;
}

#videoOverlay img {
	border: solid #edfedf 5px;
}

#sidebarbutton{

		box-shadow: 0 4px 8px rgba(0, 0, 0, .65);
	border-radius:50%;
	background-color:#c8e0cb;
	width:60px;
	height: 60px;
	display:none;	
	border: none;
	margin-bottom: 1vh;
}

#content-wrap {
	width: 100%;
	z-index: 6;
	position: relative;
	background: white;
}

#content-wrap p {
	color: black;
}

#content-wrap h1 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.pageContent {
	padding-bottom: 1em;
}

.pageContent img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.ql-editor img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.myhr {
	border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -moz-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -ms-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -o-linear-gradient(left, #ffffff, #333, #ffffff);
}

.ico-filter {
	filter: invert(48%) sepia(2%) saturate(2476%) hue-rotate(33deg)
		brightness(118%) contrast(119%);
}

.ico-filter:hover {
	filter: invert(48%) sepia(22%) saturate(2476%) hue-rotate(33deg)
		brightness(118%) contrast(119%);
}

.copyright-footer {
	position: relative;
	z-index: 6;
	padding: 1% 0% 1% 0%;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: black;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}