body{
	background:white;
	color:black;
}
#navbar-wrap {
	display: none;
}
.mt-10{
	margin-top:10vh;
}
#frame {
	height: 100vh;
}

#pictureframe {
	height: 40vh;
	
	background-size:cover;
}
#pictureframe img{
	object-fit: cover;
	width:100%;
	height:auto;
}

#bgVideo {
	position: absolute;
	z-index: 1;
	top: 0;
	width: inherit;
	max-width: 100%;
	height: 100vh;
	/*  object-fit is not supported on IE  */
	object-fit: cover;
	opacity: 0.65;
}

#videoOverlay h1 {
	color: white;
}

#videoOverlay p {
	color: white;
}

#videoOverlay {
	position: absolute;
	left: 15%;
	top: 65%;
	z-index: 2;
}

#videoOverlay img {
	border: solid #edfedf 10px;
}

#content-wrap {
	width:100%;
	z-index: 6;
	position: relative;
	background:white;
}

#content-wrap p {
	color: black;
}

#content-wrap h1 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.pageContent {
	padding-bottom: 1em;
}
.pageContent img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.ql-editor img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.myhr {
	border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -moz-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -ms-linear-gradient(left, #ffffff, #333, #ffffff);
	background-image: -o-linear-gradient(left, #ffffff, #333, #ffffff);
}

.ico-filter {
	filter: invert(48%) sepia(2%) saturate(2476%) hue-rotate(33deg)
		brightness(118%) contrast(119%);
}

.ico-filter:hover {
	filter: invert(48%) sepia(22%) saturate(2476%) hue-rotate(33deg)
		brightness(118%) contrast(119%);
}

.copyright-footer {
	position: relative;
	z-index: 6;
	padding: 1% 0% 1% 0%;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: black;
}