#vdvd1 {
	transform: skewY(6deg) translateY(-50%);
	position: absolute;
	z-index: 5;
	height: 8em;
	background-color: white;
	width: 100%;
	opacity: 0.35;
}

#vdvd2 {
	transform: skewY(-6deg) translateY(-50%);
	position: absolute;
	z-index: 5;
	height: 10em;
	background-color: white;
	width: 100%;
	opacity: 0.35;
}

#vdvd3 {
	transform: skewY(-7deg) translateY(-20%);
	position: absolute;
	z-index: 5;
	height: 10em;
	background-color: white;
	width: 100%;
	opacity: 0.5;
}

#vdvd4 {
	transform: skewY(-8deg);
	position: absolute;
	z-index: 5;
	height: 10em;
	background-color: white;
	width: 100%;
	opacity: 0.65;
}

#vdvd5 {
	transform: skewY(-5deg) translateY(20%);
	position: absolute;
	z-index: 5;
	height: 10em;
	background-color: white;
	width: 100%;
	opacity: 0.75;
}

#vdvd6 {
	transform: skewY(6deg) translateY(-30%);
	position: absolute;
	z-index: 5;
	height: 8em;
	background-color: white;
	width: 100%;
	opacity: 0.65;
}

#vdvd7 {
	transform: skewY(4deg) translateY(-25%);
	position: absolute;
	z-index: 5;
	height: 8em;
	background-color: white;
	width: 100%;
	opacity: 1;
}